<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="registration-form">
    <%= form_for(@car) do |f| %>
      <div class="form-group">
        <label>Departure Km</label><br/>
          <%= f.text_field :depart_km, class:"form-control item" %>
      </div>
      <div class="form-group">
        <label>Arrival Km</label><br/>
          <%= f.text_field :arrival_km, class:"form-control item" %>
      </div>
      <div class="form-group">
        <label>Motive of unavailability</label><br/>
          <%= f.text_area :motive, class:"form-control item" %>
      </div>
      <div class="container">
      <div class="form-check form-switch">
        <%= f.check_box :availability, class:"form-check-input horizontal-padding", type:"checkbox", id:"flexSwitchCheckDefault"%>
        <label class="form-check-label" for="flexSwitchCheckDefault">Availability</label>
      </div>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class:"btn btn-block create-account" %>
      </div>
    <% end %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>