<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="registration-form">
    <%= form_for(@car) do |f| %>
      <div class="form-group">
        <label>Maker</label><br/>
        <div>
          <%= f.text_field :maker, class:"form-control item" %>
        </div>
      </div>
      <div class="form-group">
        <label>Model</label><br/>
          <%= f.text_field :model, class:"form-control item" %>
      </div>
      <div class="form-group">
        <label>Plate Number</label><br/>
          <%= f.text_field :plate_number, class:"form-control item" %>
      </div>
      <div class="form-group">
        <label>Year</label><br/>
          <%= f.text_field :year, class:"form-control item" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class:"btn btn-block create-account" %>
      </div>
    <% end %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>
